@font-face {
  font-family: "Mono";
  src: url(mono.ttf);
}

html,


body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  cursor: default;
  //background-color: green;

  scroll-behavior: smooth;
}

//$color: rgb(231, 231, 231);
$color: rgb(0, 255, 0);
$font_color: rgb(0, 0, 0);
$links: rgb(255, 0, 0);

$font_normal: 15px;
$font_sub: 11px;

body {
  background-color: $color;
  color: $font_color;
}

::selection {
  color: $links;
  background: $color;
}

::-webkit-scrollbar {
  display: none;
}

#about {
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: $font_normal;
}

h1 {
  font-size: $font_normal;
  font-weight: bold;
  margin: 0;
}

br {
  font-size: 10px;
}


@keyframes smoothload {
  0% {

    opacity: 0;
    ;
  }

  100% {
    opacity: 1;
  }
}

#flag {
  display: initial;
  height: $font_normal;
  margin-bottom: -3px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //background-color: red;
  width: 33.33%;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;

  #list {
    p {
      margin: 0;
    }
  }
}

#proj {
  p:nth-of-type(1) {
    margin: 0;
  }

  #service {
    margin-bottom: $font_normal;
  }
}

.right {
  align-items: flex-end;
  text-align: right;
  width: auto;
  pointer-events: none;

  p {
    pointer-events: all;
  }
}

.sub {
  font-size: $font_sub;
  margin-bottom: 0px;
}

.item_links,
.item_links:visited {
  text-decoration: none;
  color: $font_color;

  img {
    display: none;
    animation: smoothload 0.05s linear;
  }
}

.item_links:hover {
  text-decoration: underline;
  cursor: pointer;

  img {
    display: block;
    height: calc(50vh - 20px);
    position: fixed;
    bottom: 10px;
    right: 10px;
    //background-color: red;
  }
}

.proj_links,
.proj_links:visited {
  text-decoration: none;
  color: $links;

  img {
    display: none;
  }
}

.proj_links:hover {
  text-decoration: underline;
}

#close {
  font-family: 'Mono';
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

#close:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.new {
  color: white;
  animation: glow 1s linear infinite;
  text-decoration: none;
}

@keyframes glow {
  0% {
    text-shadow: 0px 0px 4px #FF0000, 0px 0px 4px #FF0000;
    ;
  }

  50% {
    text-shadow: 0px 0px 4px #FF0000, 0px 0px 4px #FF0000, 0px 0px 4px #FF0000;
  }

  100% {
    text-shadow: 0px 0px 4px #FF0000, 0px 0px 4px #FF0000;
  }
}

.galeria_img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: zoom-in;
}

#zoomed {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  backdrop-filter: blur(10px);
  cursor: zoom-out;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 2px white);
  }

  p {
    position: fixed;
    top: 5px;
    left: 10px;
    color: white;

    font-family: 'Mono';
    font-size: 20px;
    font-weight: bold;
    margin: 0;

    cursor: pointer;
  }
}

#emojiflag {
  display: none;
}















@media screen and (max-width: 600px) {
  $color: rgb(255, 230, 0);

  body {
    background-color: $color;
  }

  ::selection {
    background: $color;
  }

  .cont {
    width: 100%;

    #list {
      p {
        margin: 0;
      }
    }
  }

  .right {
    //display: none;
    position: absolute;
    width: auto;
    right: 0;

    p {
      font-size: $font_sub;
    }
  }

  #list,
  #about_info {
    margin-top: 10px;
  }

  #zoomed {
    height: calc((var(--vh, 1vh) * 100));

    p {
      font-family: 'Work Sans', sans-serif;
      font-size: $font_sub;
      font-weight: initial;
      top: 10px;
    }
  }

  .item_links:hover {
    img {
      display: none;
    }
  }

  #flag {
    display: none;
  }

  #emojiflag {
    display: initial;
  }
}