$red: #e1421f;
$orange: #ffa100;
$yellow: #ffd600;
$green: #07b93d;
$aqua: #00f4f1;
$blue: #0091d5;
$pink: #ff82c6;

@font-face {
    font-family: ABC Stefan;
    src: url(Fonts/ABC-Stefan/ABCStefan-Simple-Trial.woff);
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    background: $pink;
    height: 100%;
    width: 100%;
    overflow: auto;
    color: black;
    box-sizing: border-box;
    font-family: ABC Stefan, sans-serif;
}


::selection {
    color: $pink;
    background: black;
  }


h1,
p {
    margin: 0;
}

.alternate {
    font-family: 'ABC Stefan', sans-serif;
    font-feature-settings: "aalt"5;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    pointer-events: none;
    margin: 0;
}

.content {
    z-index: 1;
    padding: 0;
    margin: 0;
    //background-color: #00f4f1;
    height: 100vh;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 4em;
    text-align: center;
    line-height: 1;
    align-items: center;
}

.image-link {
    width: auto;
    display: flex;

    img {
        min-height: 300px;
        width: auto;
    }
}

.image-link:hover {
    img {
        content: url(questionario-02.svg);
    }
}

.image-link:active {
    img {
        content: url(questionario-03.svg);
    }
}

.item-links,
.item-links:visited {
    text-decoration: none;
    color: $blue;
}

.item-links:hover {

    color: $red;
}